# Make a copy of this file as 'worldmap.conf' in the same 'config'
# folder, and then customize the settings accordingly
[common]
workdir = .

[clouds]
# Clouds sourced via https://clouds.matteason.co.uk/
# Codebase here https://github.com/jmozmoz/cloudmap
# High quality images and kept reasonably up to date
enabled = True
outfile = data/cloud_map.jpg
width = 2048
height = 1024
force = False
runs_per_day = 8

[clouds_nasa]
# Optional source for clouds; use as backup for the above
# NB: width and height are defined in 'clouds' section
enabled = False
url = https://gibs.earthdata.nasa.gov/wms/epsg4326/best/wms.cgi
outfile = data/cloud_map_nasa.jpg
runs_per_day = 8

[isobars]
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/global_isobars.png
isobar_color = White
label_fontsize = 8
# Optional: isobar text labels outlined for better legibility
label_outline = True
# This is where we put the isobars image overlaid onto the clouds image
composite_outfile = data/cloud_map_with_isobars.jpg
runs_per_day = 8

[storms]
enabled = False
url = https://www.ncei.noaa.gov/data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r01/access/csv/
outfile = data/storm_markers.txt
marker_color=yellow
marker_symbol = storm_symbol.png
regional_only=false
expiry_days=3
runs_per_day = 8

[quakes]
enabled = False
url = https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.csv
outfile = data/quake_markers.txt
marker_color = White
marker_symbol = earthquake_symbol.png
label_fontsize = 14
min_mag = 5.0
runs_per_day = 4

[volcanoes]
enabled = False
url = https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes
outfile = data/volcano_markers.txt
marker_color = DeepPink
marker_symbol = volcano_symbol.png
# Show only volcanoes flagged as 'significant'
significant_only = True
# Volcanic Explosivity Index (VEI):
# 0	non-explosive
# 1 Small
# 2	Moderate
# 3	Moderate-Large
# 4	Large
# 5	Very Large
# 6	Paroxysmal
# 7	Colossal
# 8	Super colossal
# Show only volcanoes with vei equal or greater than:
vei_min = 5
# Volcano eruption date codes:
# D1 - 1964 or later
# D2 - 1900 to 1963
# D3 - 1800 to 1899
# D4 - 1700 to 1799
# D5 - 1500 to 1699
# D6 - A.D.1 to 1499
# D7 - B.C. (Holocene)
# U  - Undated, prob. Holocene
# Q  - Quaternary (very fucking old!)
# ?  - Uncertain Holocene
# Show only volcanoes with on of this list of date codes
erupt_date_codes = ["D1"]
runs_per_day = 1

[shipping]
enabled = True
# Needs an API Key in your .env file; see https://aisstream.io/documentation
url = wss://stream.aisstream.io/v0/stream
outfile = data/ship_markers.txt
marker_color = orange
label_fontsize = 12
# Show only these classes of vessel. Possible values: ["Passenger", Tanker", "Cargo"]
# Leave as an empty list [] to show all vessels
filter_show_ship_classes = []
# Show names for specific classes of ship (same options as for filter_show_ship_classes)
# Leave as an empty list to suppress all names
filter_show_names_for_classes = []
# Show ships with lengths >= this (metres 0=>no filtering)
# Use this to filter out the small-fry
filter_ships_minimum_length = 290
# Show only ships moving >1.0 knots and not flagged as moored or anchored
filter_ships_underway = True
# Show ships on the map as icons, either 'Arrows' or 'Disc', or comment out for default markers
# 'Arrows': Directional icon images. These are arrows colour-coded as:
# 'Discs'. These are filled circular icons which may have a 'T' or 'C' inside.
# 'C' - Cargo. Green = loaded; Red = unloaded since last info
# 'T' - Tanker. Red = loaded; Lime green = unloaded
# Purple discs are for Passenger ships and all other vessel types
#show_ship_icons = Discs
#show_ship_icons = Arrows
# Whether to show vessel tracks
show_tracks = True
# Minimum distance between track points in km
track_min_dist = 125.0
# Maximum number of tracking positions to show
track_max_points = 50
# If a ship has been inactive for this time or more, don't display it
expiry_days = 5
runs_per_day = 24

[shipping_harvester]
# The harvester acquires ship data and stores it in the db, listening in
# an endless loop. The harvesting is done globally in 10 longitudinal 'slices'.
# This stored data is used by the map builder when displaying ships on the map.
enabled = True
# Needs an API Key in your .env file; see https://aisstream.io/documentation
url = wss://stream.aisstream.io/v0/stream
# Time to listen for data broadcasts
listen_duration = 300
# Time to sleep between harvesting slices. This time will be 'tweaked'
# internally according to the slice and an estimate of ship density
# within that slice. This ensure we focus on busy shipping lanes.
sleep_interval = 300
# Number of days worth of vessel tracking to retain
vessel_track_expiry_days = 14

[xplanet]
enabled = True
projection = rectangular
# Set to the geometry of your desktop
geometry = 1920x1200
# Set to centre over your location
longitude = 175
# This is the final map image we generate
base_filename = worldmap.jpg
marker_default_colour = cyan
marker_default_fontsize = 12
# Threshold for cloud visibility 0-255
cloud_threshold = 200
# Gamma correction for clouds
cloud_gamma = 0.7
# This 'region' variable will determine the map that is displayed. If empty,
# commented-out or nullstring we display the whole World. Otherwise we will
# try to download a high-res map of the region specified and display that.
# This setting can take the name of a region in your 'map_region' table, or it
# can define a bounding box in format [lon_top_left, lat_top_left, lon_bottom_right, lat_bottom_right]
# Regions defined for you out-of-the-box are:
# NZ_Aus, Suez_Canal, English_Channel, Strait_of_Hormuz, Singapore,
# Saudi_Arabia, Mediterraneam, Panama_Canal
#region = English_Channel
#region = [-209.973414, 34.698514, -112.141024, 73.763280]
