# Make a copy of this file as 'worldmap.conf' in the same 'config'
# folder, and then customize the settings accordingly
[common]
# The 'region' variable will determine the map that is displayed. If empty,
# commented-out or nullstring we display the whole World. Otherwise we will
# try to download a high-res map of the region specified and display that.
# NOTE: Xplanet has issues with regions crossing the dateline at 180E
# and for that reason, such regions will be shifted West so as to end at
# that boundary if they cross it.
# This setting can be the name of a region in your 'map_region' table,
# or it can define a bounding box in format:
# [lon_top_left, lat_top_left, lon_bottom_right, lat_bottom_right]
# region = [63.131759, -57.173648, 190.337125, 0.239941]
# Handy tool for defining your own regions: https://tools.mofei.life/bbox
# It provides a bounding box in the same format as above.
# Regions defined for you out-of-the-box are:
# NZ, NZ_Aus, Suez_Canal, English_Channel, Strait_of_Hormuz, Singapore,
# Saudi_Arabia, Mediterranean, Panama_Canal, Ukraine, Europe
region = NZ
# Hours ahead to forecast. A zero here means we just show the 'now'
# picture. Not everything is forecast-able of course, but where it
# is applicable you will see a difference when altering this.
forecast_hour = 0
# Set to the geometry (graphics resolution) of your desktop. The
# final render of the map image will use this.
desktop_geometry = 1920x1200
# Target geometry is an internal, operational geometry. Images such as
# clouds, isobars etc will all be acquired/scaled to this geometry.
# Depending on the source only a few options may be available. The
# default is 2048x1024 which is fairly universal. Setting this to higher
# values has benefits when you display a zoomed-in region and will
# result in sharper maps, clouds etc.
#target_geometry = 2048x1024
target_geometry = 4096x2048
# This color is used when XPlanet can't fill an area with an image
# such as when a bounding box extends beyond 180 longitude
# #04040e is a deep blue to match NASA blue marble seas
# NB: Specific both as hex, or Xplanet might not know the color
fill_default_color = #04040e
# This is the final map image we generate
base_filename = regionmap.jpg
marker_default_color = #ffffff
marker_default_fontsize = 12
# If you add your own marker files, then list the filenames here, as a
# comma-separated list and put the files in the 'markers' folder
extra_marker_files =
# Working directory
workdir = .
# Level for logging: DEBUG, INFO, WARNING, ERROR, CRITICAL
# This affects all processes in the system, so will be very noisy if you
# have certain elements enabled, eg. weather_collector. Instead you can
# set log_level for individual processes in their sections below.
log_level = DEBUG

[clouds]
# Source for clouds images
# NB: width and height are defined in 'clouds' section
enabled = False
url = https://gibs.earthdata.nasa.gov/wms/epsg4326/best/wms.cgi
outfile = data/cloud_map.jpg
# threshold: 0-255 (e.g., 20 removes dim haze)
threshold = 150
# gamma: 0.1 - 2.0 (e.g., 0.5 makes clouds much more transparent)
gamma = 0.4
# Any clouds image older then this will be refreshed
expiry_hours = 3
runs_per_day = 12

[isobars]
# An excellent overall picture of what the air pressure map is in
# the region being viewed. A must-have for weather info.
enabled = True
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/isobars.png
isobar_color = White
linewidth = 1.0
alpha = 1.0
label_fontsize = 12
# Optional: isobar text labels outlined for better legibility
label_outline = False
runs_per_day = 12

[wind]
# Provides a grid of 'barbs' showing wind direction and with
# barb length proportional to wind speed.
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/wind.png
vector_color = yellow
# The base length for light winds
barb_length_base = 4.5
# How many points to add to the length for every 20 kph of speed
barb_length_step = 0.8
# A density factor. Number of barbs across the region image
# If you want more wind info (more barbs), increase this
barb_density = 30.0
runs_per_day = 12

[precipitation]
# A.k.a "rain radar". Gives a great picture of where the wet
# stuff is falling and at what rate.
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/precipitation.png
# Minimum rain rate to display (mm/hr)
min_mm_hr = 0.5
# Overall transparency (0.0 to 1.0)
alpha = 0.8
# Options: standard, ocean_blue, or high_contrast
palette = standard
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = top-left
runs_per_day = 12

[sst]
# Sea Surface Temperatures. An interesting layer but best used
# with other layers which paint the region disabled (eg waves)
enabled = False
url = https://downloads.psl.noaa.gov/Datasets/noaa.oisst.v2.highres
outfile = data/sst.png
# Mode: absolute or anomaly
# SST anomalies are calculated as deviation from the temperatures
# expected from historical data.
mode = Absolute
# Overall transparency (0.0 to 1.0)
alpha = 1.0
# Options: thermal, vivid, deep, or ocean
palette = vivid
# Max/min temperatures
min_c = 0
max_c = 32
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = bottom-left
runs_per_day = 2

[currents]
# Ocean currents color-coded by speed
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/rtofs/prod/
outfile = data/currents.png
# Options: thermal_red, electric_blue, toxic_neon, cyberpunk
palette = thermal_red
# Overall transparency (0.0 to 1.0)
alpha = 0.8
# Larger values widen the ocean current plots
width_factor = 2.6
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = bottom-left
runs_per_day = 2

[waves]
# Paints the region with colors according to wave height with
# arrows indicating direction. Best used with other layers
# which paint the region disabled (eg. sst)
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/waves.png
# Options: ocean_storm, neon_surge, solar_flare
palette = solar_flare
# Overall transparency (0.0 to 1.0)
alpha = 0.7
# Play with these to get the number and size of arrows just
# right for your desktop
show_arrows = False
arrow_density = 1.0
arrow_scale = 1.0
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = top-right
runs_per_day = 2

[temperature]
# Air temperature map which covers the entire region. Best used
# with other layers which paint the region disabled (eg. sst)
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/temperature.png
# Mode: absolute or anomaly
# Air temperature anomalies are calculated as deviation from the
# mean temperature across the region being viewed right now. Ie.
# not deviations from 'expected' or historical data.
mode = absolute
# Options: global_thermal, extreme_contrast, twilight_gradient
palette = extreme_contrast
# Overall transparency (0.0 to 1.0)
alpha = 1.0
show_freezing_line = True
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = top-left
runs_per_day = 2

[ozone]
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/ozone.png
# Possible values: critical, plasma, viridis, inferno, turbo
palette = critical
# A critical level in Dobson Units below which we have
# serious issues - the so-called Ozone Hole
critical_du = 220.0
alpha = 1.0
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = bottom-left
runs_per_day = 2

[stormwatch]
enabled = False
url = https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod
outfile = data/stormwatch.png
# CAPE - Convective Available Potential Energy
# 0 – 500	Stable; little to no chance of organized storms.
# 500 – 1,000	Marginally unstable; weak storms possible.
# 1,000 – 2,500	Moderately unstable; typical for garden-variety thunderstorms.
# 2,500 – 4,000	Very unstable; likely to produce strong to severe storms.
# > 4,000	Extremely unstable; high potential for explosive supercell
# development and severe weather
min_cape = 1000
alpha = 1.0
key_fontsize = 18
# Options: top-left, top-right, bottom-left, bottom-right
key_position = bottom-left
runs_per_day = 2

[storms]
enabled = False
# The main storm tracking site; storm name and current and past locations
ibtracs_url = https://www.ncei.noaa.gov/data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r01/access/csv/
# Two alternatives for storm track forecasting
jtwc_url = https://www.ssd.noaa.gov/PS/TROP/DATA/ATCF/JTWC/
nhc_url = https://ftp.nhc.noaa.gov/atcf/fst/
outfile = data/storms.png
storm_icon = images/storm_symbol.png
storm_icon_zoom = 1.5
storm_name_fontsize = 18
forecast_cone_alpha = 0.5
forecast_cone_color = White
storm_track_color = DeepPink
expiry_days=4
runs_per_day = 12

[composite]
# Creates a composite image of many layers
enabled = True
outfile = data/composite_layer.png

[lightning]
# Uses the data acquired by the [weather_scanner] (see below section)
# hence disabled until you get an API Key for it.
enabled = False
outfile = markers/lightning.txt
expiry_hours = 4
runs_per_day = 12

[quakes]
enabled = False
url = https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.csv
outfile = data/quake_markers.txt
marker_color = White
marker_symbol_new = earthquake_symbol_new.png
marker_symbol_old = earthquake_symbol_old.png
# Hours up until which the earthquake is classes as 'new'
recent_activity_hours = 3
# Hours after which an earthquake will not be displayed
expiry_hours = 24
label_fontsize = 14
min_mag = 5.0
runs_per_day = 24

[volcanoes]
enabled = False
url = https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes
outfile = data/volcano_markers.txt
marker_color = DeepPink
marker_symbol = volcano_symbol.png
# Show specific volcano by name
specific_volcano_by_name =
# Show only volcanoes flagged as 'significant'
significant_only = True
# Show only volcanoes named in this list (comma separated)
filter_show_volcanoes_by_name =
# Volcanic Explosivity Index (VEI):
# 0	non-explosive
# 1 Small
# 2	Moderate
# 3	Moderate-Large
# 4	Large
# 5	Very Large
# 6	Paroxysmal
# 7	Colossal
# 8	Super colossal
# Show only volcanoes with vei equal or greater than:
vei_min = 5
# Volcano eruption date codes:
# D1 - 1964 or later
# D2 - 1900 to 1963
# D3 - 1800 to 1899
# D4 - 1700 to 1799
# D5 - 1500 to 1699
# D6 - A.D.1 to 1499
# D7 - B.C. (Holocene)
# U  - Undated, prob. Holocene
# Q  - Quaternary (ancient!)
# ?  - Uncertain Holocene
# Show only volcanoes with one of these date codes:
erupt_date_codes = D1
runs_per_day = 1

[satellites]
enabled = False
url = https://celestrak.org/NORAD/elements
# Color of the satellite marker and name
marker_color = White
marker_fontsize = 10
# Picked from a fixed list of popular orbiting objects
# (see the web-based configurator)
sat_names = ISS (ZARYA), CSS (TIANHE)
# Update frequency can be high to track fast-moving satellites
# This is the number of minutes between updates; the UI will
# allow 1 thru 120 minutes
update_minutes = 10
# Minutes before and after current position to represent as a
# trail across the map. Shows where it was, and where it will be
trail_minutes = 45
# Show a circle within which the satellite is this many degrees
# above the horizon to observers on the ground
degrees_above_horizon = 45
# A comma-separated list of satellite names to track. These must
# exist in one of these Celestrak groups: resource, science,
# stations, or weather. Browse here to see what's in each group:
# https://celestrak.org/NORAD/elements/gp.php?GROUP={group}&FORMAT=tle
extra_satellite_names =

[shipping]
enabled = False
outfile = data/ship_markers.txt
marker_color = orange
label_fontsize = 12
# Show ships on the map as icons, either 'Arrows' or 'Disc'. If
# commented out (or set to something else, like 'default') then
# the default circular markers will be used.
# 'Arrows': Directional icon images. These are arrows color-coded as:
# red = Tankers, Green = Cargo, Purple = Passenger
# 'Discs'. These are filled circular icons which may have a 'T' or 'C' inside.
# 'C' - Cargo. Green = loaded; Red = unloaded since last info
# 'T' - Tanker. Red = loaded; Lime green = unloaded
# Purple discs are for Passenger ships and all other vessel types
show_ship_icons = default
# Show only ships moving >1.0 knots and not flagged as moored or anchored
filter_ships_underway = False
# Comma-separated list of vessel classes. Possible values: Passenger, Tanker, Cargo
# Leave empty to show all vessels.
filter_show_ship_classes =
# Show names for specific classes of ship (same options as for filter_show_ship_classes)
# Leave as an empty list to suppress all names
filter_show_names_for_classes =
# Show ships with lengths >= this (metres 0=>no filtering)
# Use this to filter out the small-fry
filter_ships_minimum_length = 100
# Only show ships with these names (comma-separated list)
# Useful with tracking on (see below).
filter_show_ships_by_name =
# Whether to show vessel tracks. Useful mainly when filtering
# to specific ship names otherwise the data is too dense
# to make sense of.
show_tracks = False
# Minimum distance between track points in km
track_min_dist = 5.0
# Maximum number of tracking positions to show
track_max_points = 15
# If a ship has been inactive for this time or more, don't display it
expiry_days = 14
runs_per_day = 24

[shipping_collector]
# This collector acquires ship data and stores it in the db, listening to AIS in
# an endless loop. The harvesting is done globally in 10 longitudinal 'slices'.
# This stored data is used by the map builder when displaying ships on the map.
enabled = False
# Needs an API Key in your .env file; see https://aisstream.io/documentation
url = wss://stream.aisstream.io/v0/stream
# Time to listen for data broadcasts
# This time will be modified internally according to the slice and an
# estimate of ship density within that slice. This ensures we focus
# more on busy shipping lanes.
listen_duration = 1200
# Time to sleep between harvesting slices.
sleep_interval = 300
# Number of days worth of vessel tracking to retain
vessel_track_expiry_days = 14
# Level for logging: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = INFO

[weather_scanner]
# Needs an API Key in your .env file; see https://openweathermap.org
enabled = False
url = https://demo.openweathermap.org/lightning/1.0/data
expiry_hours = 24
# Level for logging: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = INFO

[map_builder]
enabled = True
# Level for logging: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = INFO

[xplanet]
enabled = True
projection = rectangular
# The base filename of the final map image. This will be prefixed
# with a unix timestamp for each run
base_filename = regionmap.jpg
